@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'MortalWave';
    src: url('../font/mortalwave.woff');
}

* {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    z-index: 1000;
    transition: 0.2s ease;
}

nav:hover {
    background-color: var(--navbar);
}

.hidden {
    top: -130px;
    transition: all ease 0.5s;
    transition-delay: 0.2s;
}

.switch {
    cursor: pointer;
}

#theme {
    width: 20px;
    transition: transform 0.5s ease-out;
}

nav .logo {
    color: var(--text);
    font-size: 25px;
    padding: 5px;
    transition: 0.2s ease-out;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px 8px 25px;
    transition: 0.2s ease-in-out;
}

.nav-links ul li a {
    color: var(--text);
    font-size: 15px;
    transition: 0.2s ease-in-out;
}

.nav-links ul li .switch {
    color: var(--text);
}

.nav-links ul li:hover {
    scale: 1.1;
    transform: translateY(-2px);
}

nav .logo:hover {
    font-weight: bold;
    position: relative;
    color: transparent;
    text-shadow:
        40px 0px 0 #399DF5,
        -20px -20px 0 #BE3F42,
        -5px 20px 0 #097042;
}

.nav-links ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    margin: auto;
    display: block;
    transition: 0.5s ease-in-out;
}

.nav-links ul li:nth-child(1) a::after {
    background-color: #399DF5;
}

.nav-links ul li:nth-child(2) a::after {
    background-color: #097042;
}

.nav-links ul li:nth-child(3) a::after {
    background-color: #BE3F42;
}

.nav-links ul li:nth-child(4) a::after {
    background-color: black;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.section {
    display: flex;
}

#theme {
    width: 2vh;
    cursor: pointer;
}

#section1 {
    height: 100vh;
    width: 100hv;
    background: radial-gradient(50% 50% at 50% 50%, #D8E4EF 0%, #399DF5 100%);
}

#section2 {
    height: 100vh;
    width: 100hv;
    background: radial-gradient(50% 50% at 50% 50%, #E1E9F0 0%, #097042 100%);
}


#section3 {
    height: 100vh;
    width: 100hv;
    background: radial-gradient(50% 50% at 50% 50%, #D8E4EF 0%, #BE3F42 100%);
}