@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: 'MortalWave';
    src: url('../font/mortalwave.woff');
}

:root{
    --navbar: #F8F9FACC;
    --text: #0F0E17;
    --background: #F8F9FA;
    --btext: #D7D8E2;
    --footer: #EAEAF3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease, color 0.3s ease;
}

body::-webkit-scrollbar{
    width: 12px; 
}
  
body::-webkit-scrollbar-track{
    background: rgba(14,14,14,255); 
}
  
body::-webkit-scrollbar-thumb{
    background-color: ghostwhite; 
    border-radius: 10px; 
    border: 3px solid #101823; 
}

a {
    color: inherit;
    text-decoration: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    z-index: 1000;
    transition: 0.2s ease;
}

nav:hover{
    background-color: var(--navbar);
}

.hidden{
	top: -130px;
	transition: all ease 0.5s;
  	transition-delay: 0.2s;
}

.switch{
    cursor: pointer;
}

#theme{
    width: 20px;
    transition: transform 0.5s ease-out;
}

nav .logo{
    color: var(--text);
    font-size: 25px;
    padding: 5px;
    transition: 0.2s ease-out;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px 8px 25px;
    transition: 0.2s ease-in-out;
}

.nav-links ul li a{
    color: var(--text);
    font-size: 15px;
    transition: 0.2s ease-in-out;
}

.nav-links ul li .switch{
    color: var(--text);
}

.nav-links ul li:hover{
    scale: 1.1;
    transform: translateY(-2px);
}

nav .logo:hover{
    font-weight: bold;
    position: relative;
    color: transparent;
    text-shadow: 
        40px 0px 0 #399DF5,
        -20px -20px 0 #BE3F42,
        -5px 20px 0 #097042;
}

.nav-links ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    margin: auto;
    display: block;
    transition: 0.5s ease-in-out;
}

.nav-links ul li:nth-child(1) a::after{
    background-color: #399DF5;
}

.nav-links ul li:nth-child(2) a::after{
    background-color: #097042;
}

.nav-links ul li:nth-child(3) a::after{
    background-color: #BE3F42;
}

.nav-links ul li:nth-child(4) a::after{
    background-color: black;
}

.nav-links ul li a:hover::after{
    width: 100%;
}

.menuhamburger {
    display: none;
}

.sneaker-list{
    position: absolute;
    top: -15vh;
    right: 58%;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1.2px var(--btext);
    text-transform: uppercase;
    white-space: nowrap;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.sneaker-item{
    display: block;
    font-size: calc(10vw + 2em);
    margin: 0;
    padding: 0;
    line-height: 1.0;
}

.sneaker-item:nth-child(even){
    text-align: left;
}

.sneaker-item:nth-child(odd){
    text-align: left;
    margin-left: calc(22vw);
}

.container-sneaker{
    position: static;
    margin-top: 40vw;
    margin-left: 50%;
    margin-bottom: 25vh;
    transform: translate(-50%, 0);
    width: 90%;
    aspect-ratio: 2 / 1;
    max-width: 1000px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}

.cercle{
    position: absolute;
    border-radius: 50%;
    transition: 0.3s ease;
}

.bleu{
    width: 60%;
    aspect-ratio: 1/0.85;
    background-color: #399DF5;
    top: 0;
    right: 100px;
    transform: translate(50%, -50%);
}

.vert{
    width: 40%;
    aspect-ratio: 1/0.85;
    background-color: #097042;
    top: 70%;
    left: 0;
    transform: translate(-50%, -50%);
}

.rouge{
    width: 30%;
    aspect-ratio: 1/0.85;
    background-color: #BE3F42;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

.cercle img{
    position: absolute;
    width: 150%;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.cercle h2{
    color: var(--background);
    position: absolute;
    font-family: 'MortalWave';
    font-size: 4vw;
    opacity: 0;
    transition: 0.5s ease;
    z-index: 3;
    text-shadow: 
        2px 2px 0px var(--text),
        -2px 2px 0px var(--text),
        2px -2px 0px var(--text),
        -2px -2px 0px var(--text),
        2px 0px 0px var(--text),
        -2px 0px 0px var(--text), 
        0px 2px 0px var(--text),
        0px -2px 0px var(--text);
}

.airmax{
    top: 40%;
    right: 60%;
    pointer-events: none;
    transform: translate(50%, -50%) rotate(-27deg);
}

.stansmith{
    top: 25%;
    right: 35%;
    pointer-events: none;
    transform: translate(50%, -50%) rotate(27deg);
}

.airjordan{
    top: 45%;
    right: 55%;
    pointer-events: none;
    transform: translate(50%, -50%) rotate(-27deg);
}

.cercle:hover img{
    transform: translate(45%, -50%);
}

.cercle:hover{
    scale: 1.05;
}

.cercle:hover h2{
    opacity: 1;
}

.cercle.bleu:hover{
    background: radial-gradient(circle, var(--background) 0%, #399DF5C6 30%, #399DF5 60%);
}

.cercle.vert:hover{
    background: radial-gradient(circle, var(--background) 0%, #097042C6 30%,#097042 60%);
}

.cercle.rouge:hover{
    background: radial-gradient(circle, var(--background) 0%, #BE3F42C6 30%, #BE3F42 60%);
}

footer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 10vw;
    width: 100%;
    height: 600px;
    overflow: hidden;
    transition: 0.2s ease;
}

.allfooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 65vw;
    max-width: 1200px;
    margin-top: 210px;
    margin: 8vw auto;
    transition: 0.2s ease;
    z-index: 2;
}

.allfooter .information p{
    text-align: left;
}

.allfooter p{
    margin: 15px 0;
    text-align: center;
}

.allfooter .information h2 {
    padding-bottom: 10px;
}

.information{
    display: flex;
    font-size: calc(0.7vw + 5px);
    width: 300px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.information p{
    margin: -5px 0;
    padding: 0;
}

.formulaire{
    background-color: var(--background);
    padding: 30px;
    border-radius: 25px;
    width: 40vw;
    max-width: 700px;
    align-items: center;
}

.formulaire h2{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

input, textarea{
    font-family: 'Poppins';
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--background);
    color: var(--text);
    border: none;
    border-bottom: 2px solid var(--text);
}

textarea{
    resize: none;
    height: 80px;
    transition: 0.2s ease;
}

input:hover, textarea:hover {
    border-bottom: 2px inset #399DF5C6;
}

button{
    width: 60%;
    height: 60px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 15px;
    display: block;
    background-color: #399DF5;
    color: var(--background);
    padding: 15px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.5s ease;
}

button:hover{
    width: 40%;
}

.formulaire-btn{
    display: none;
}

.ovale{
    position: absolute;
    top: 0;
    left: 0;
    height: 250%;
    aspect-ratio: 1/0.617;
    border-radius: 50%;
    transform: translate(-3%, 12%) rotate(34deg);
    background-color: var(--footer);
    z-index: 1;
}

@media (max-width: 1300px) {
    nav .logo{
        flex: 1;
        text-align: center;
    }

    .menuhamburger {
        position: absolute;
        display: block;
        top: 25px;
		right: 25px;
        cursor: pointer;
    }

    .nav-links{
        top: 0;
        left: 0;
        margin-top: -200%;
        position: absolute;
        background-color: var(--navbar);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-out;
    }

    .nav-links.mobile-menu{
        margin-top: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li{
        margin: 25px 0;
    }

    .nav-links ul li a {
        font-size: 1.5em;
    }

    .sneaker-list{
        top: -7vh;
    }

    footer{
        width: 140%;
        margin: auto;
    }
    
    .ovale{
        right: 30vw;
        transform: translate(-10%, 15%) rotate(34deg);
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .formulaire {
        display: none;
    }

    .allfooter{
        margin: auto;
        margin-bottom: 0;
        margin-right: 20%;
        width: 100%;
    }

    .information{
        display: flex;
        font-size: calc(1vw + 5px);
        width: 80vw;
        height: 20vw;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .information .formulaire-btn {
        display: flex; 
        align-items: center; 
        text-align: center;
        font-weight: 600;
        padding: 1.5vw 3vw;
        margin: 10px; 
        border-radius: 100px;
        color: var(--background);
        background-color: #399DF5;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .formulaire-btn:hover {
        transform: translateY(-5px);
        background-color: #2775C1;
    }

    .allfooter .droits{
        font-size: 1.5vw;
        margin-top: 12vw;
    }
}

@media (max-width: 900px) {
    .container-sneaker{
        margin-top: 60vw;
    }

    .information{
        font-size: calc(1.5vw + 5px);
    }

    .allfooter .droits{
        font-size: 2vw;
    }
}